.MainDiv
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0rem 0rem 10rem #0EB1C7);
}
.MainDiv > .SecondDiv
{
    width:50%;
    height: 70vh;
    background-color: hsla(213, 24, 16, 4%);
    box-shadow:6px 9px 25px 16px rgba(1, 145, 226, .25);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    filter: drop-shadow(0rem 0rem 10rem #0EB1C7);
   
    
}
.SecondDiv > .Heading
{ 
    grid-column: span 2;
    font-size: clamp(1.8rem,3vw,2.8rem);
    margin:1rem 0rem;
    color: #0EB1C7;
    margin-top: 0rem;
    font-weight: 700;
     
}
.IntroductionText >span
{
    font-size: clamp(1.8rem,3vw,2.8rem);
   
}
.SecondDiv >.IntroductionText
{
    grid-row: span 1.2;
    font-size: clamp(1.5rem,3vw,1.6rem);
    margin:1rem 0rem;
    color: #0EB1C7;
    display: grid;
    
    text-align: center;
    padding-inline:3rem;

}
.IntroductionText >span
{
    font-size: clamp(1.8rem,3vw,2.8rem);
    text-align: left;
    margin-bottom: -1rem;
} 
.MainDiv >.First_decoration
{
    width: clamp(12rem,18vw,22rem);
    aspect-ratio: 1;
    background-color:rgba(186, 0, 217, .47);
    position: absolute;
    top: clamp(4rem ,10vw,2rem);
    left:clamp(9rem ,15vw,23rem);
    border-radius: 50%;
}
.MainDiv > .Second_decoration
{
    width: clamp(10rem,20vw,22rem);
    aspect-ratio: 1;
    background-color:rgba(158, 11, 226, 0.6);
    position: absolute;
    top: clamp(4rem ,10vw,2rem);
    right:clamp(9rem ,15vw,23rem);
    border-radius: 50%;
    
}
.MainDiv > .third_decoration
{
    width: clamp(12rem,20vw,22rem);
    aspect-ratio: 1;
    background-color:rgba(71 , 59, 209, 0.78);
    position: absolute;
    bottom: clamp(2rem ,10vw,2rem);
    right:clamp(9rem ,15vw,23rem);
    border-radius: 50%;
}
.MainDiv > .four_decoration
{
    width: clamp(15rem,20vw,22rem);
    aspect-ratio: 1;
    background-color:rgba(80, 24, 199, 0.88);
    position: absolute;
    bottom: clamp(2rem ,10vw,2rem);
    left:clamp(9rem ,15vw,23rem);
    border-radius: 50%;
}
img
{
    filter: drop-shadow(0px 0px 50px #0EB1C7);
    width: clamp(12rem,22vw,22rem);
    aspect-ratio: 1;
}
.Button_div
{
    display: grid;
   grid-row: span 2;
  place-items: center;
  position: relative;
}
.Button_div > button
{
    position:static;
     background: transparent;
     width: 20rem;
     padding-top: .8rem;
     padding-bottom: .8rem;
     border-radius: 1rem;
     border:4px solid #0EB1C7 ;
     color: #0EB1C7 ;
     box-shadow: 0px 0px 10px 0px #0EB1C7; 
}
button:hover
{
    box-shadow: 0px 0px 10px 3px #0EB1C7;
    transition:1s,cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
button:active
{
 background:#0EB1C7;
 color:rgba(186, 0, 217, .47);
 box-shadow: none;
 font-weight:bolder;
}

