
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --bgColor-: #0b0c10;
  --bgcolor2-:#0EB1C7;
}

.App {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0b0c10;
  align-items: center;
  justify-content: space-around;
}
::-webkit-scrollbar
{
  width: 1rem;
  background: rgba(19, 245, 234, 0.5);
  
}
::-webkit-scrollbar-thumb
{
  background-color: var(--bgcolor2-);
  border-radius: 5px;
  filter: drop-shadow(0 0 20 var(--bgcolor2-));
  
}
